<% if session[:access_token] %>
  <h1>Authorization code </h1>
    <p><%= @code   %>

  <h1>Access Token</h1>
    <p><%= session[:access_token]  %></p>

    <h1>ID Token</h1>
    <p><%=  @id_token %></p>

  <%= link_to 'Get User', "http://localhost:3000/api/user?access_token=#{session[:access_token]}" %>
  <%= link_to 'Update User', "http://localhost:3000/api/user/update?access_token=#{session[:access_token]}" %>
  <%= link_to 'Delete Session', session_delete_path, method: :delete %>
<% else %>
  <h1>Implicit</h1>
    <%= link_to 'Authorize via token Keepa', new_oauth_token_path %><br/>
    <%= link_to 'Authorize via id_token_token Keepa', new_oauth_id_token_token_path %><br/>
  <h1>Hybride</h1>>
    <%= link_to 'Authorize via code token Keepa', new_oauth_code_token_path %><br/>
    <%= link_to 'Authorize via code id_token Keepa', new_oauth_code_id_token_path %><br/>
    <%= link_to 'Authorize via code id_token token Keepa', new_oauth_code_id_token_token_path %>
<% end %>
